body {
      background-color: rgb(5, 23, 30);
      margin: 0;
      color: white;
}

#content {
      display: flex;
}

#left-border {
      width: 40%;
}

#right-border {
      width: 40%;
}

.book-section {
      background-color: rgb(13, 50, 64);
      width: 300px;
      height: 600px;
      max-height: 600px;
      margin: 30px 0;
      border-radius: 8px;
}

.title-section {
      display: flex;
      justify-content: center;
      align-items: center;
}

.separator {
      background-color: rgba(0, 255, 255, 0.362);
      height: 2px;
}

.cover-section {
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
}

.cover {
      height: 80px;
      width: auto;
}

.price-likes-container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 80px;
}

h4 {
      color: rgb(210, 85, 50);
      font-size: 24px;
}

.info-table {
      margin: 0 0 16px 16px;
}

.font-weight-bold {
      font-weight: bold;
}

.comment-section-headline {
      font-size: 16px;
      margin: 16px 0 0 16px;
}

.comment-table-container {
      height: 150px;
      overflow-y: auto;
      margin: 16px;
}

.add-comment-container {
      display: flex;
      justify-content: center;
      gap: 16px;
      margin: 24px 16px 0 16px;
}

.add-comment-input {
      width: 220px;
      height: 31px;
      background-color: rgb(22, 78, 110);
      border: none;
      border-bottom: 2px solid rgba(0, 255, 255, 0.362);
      padding: 8px;
      box-sizing: border-box;
      outline: none;
      color: white;
}

.add-comment-button {
      height: 31px;
      width: 31px;
      cursor: pointer;
}
